<div class="banner" style="background-image: url('<%= cl_image_path @cocktail.image, quality: 80 %>');">
  <div class="banner-content">
    <h1 style="font-size: 50px;"><%= @cocktail.name %></h1>
  </div>
</div>

<div class="page-content" data-aos="fade-down" data-aos-duration="1000">
  <h3>Recipe</h3>
      <table class="table table-borderless table-hover">
          <thead>
            <th style="border-top: 0px; border-bottom: 0px;" scope="col">Ingredient</th>
            <th style="border-top: 0px; border-bottom: 0px;" scope="col">Description</th>
          </thead>
          <tbody>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.ingredient.name %></td>
              <td><%= dose.description %><%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_dose"></i></td>
          <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
</div>
